<ion-app>
  <ion-content fullscreen>
    <ion-card>
      <ion-card-header>
        <ion-card-title color='primary'>TODO</ion-card-title>
        <ion-item>
          <ion-input [(ngModel)]='taskName' (keyup.enter)='create()' placeholder='Enter a task' autofocus></ion-input>
        </ion-item>
      </ion-card-header>
      <ion-card-content *ngIf='tasks.length'>
        <ion-list>
          <app-task *ngFor='let task of tasks' [task]='task' (deleted)='delete(task)'></app-task>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
